<header>
  <div class="logo">
    <%= content_tag :a, "Admin | TestGuru", href: root_path  %>
  </div>
    <p class="nav user">Welcome, <b><%= current_user.email %></b> Guru! | <%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
</header>
