<footer class="navbar fixed-bottom navbar-light bg-light">
  <p class="navbar-text"><%= current_year %>, Vadim Golubev,
     <%= github_url("TestGuru", "https://github.com/VadikVadik/test_guru") %>
     - приложение для прохождения тестов (учебный проект онлайн школы <a href="https://thinknetica.com" target="_blank">Thinknetica</a>) | <%= link_to 'Форма обратной связи', users_feedback_path %></p>
</footer>
